.hero-image {
	position: fixed;
	top: 209px;
	width: 660px;
	height: 475px;
}

.success-popup {
	top: 50px;
	left: 394px;
	width: 463px;
	height: 260px;
	border-radius: 20px;
}

.success-content-top {
	width: 300px;
	height: 20px;
	text-align: center;
	margin-top: 10px;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.success-content-bottom {
	width: 326px;
	height: 5px;
	text-align: center;
	margin-top: 21px;
	color: #000000;
	line-height: 1.1;
	font-size: 16.5px;
}

.error-popup {
	top: 69.5px;
	left: 421.5px;
	width: 406px;
	height: 240px;
	border-radius: 20px;
}

.error-content-top {
	width: 300px;
	height: 20px;
	text-align: center;
	margin-top: 10px;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.error-content-bottom {
	width: 326px;
	height: 5px;
	text-align: center;
	margin-top: 21px;
	color: black;
	line-height: 18px;
	font-size: 16.5px;
}
